{% extends "base.html" %}

{% block title%}
profile
{%endblock%}


{% block js %}
{% endblock %}


{% block page_content %}

<div id="profile-pic">
         <img style="margin-top:10px; margin-left:10px;" src="{{user['image']}}" height="150" width="150">
    </div>
    <p style="margin-top:-150px; margin-left:175px; border: 1px solid green; float:left; padding: 3px; padding-right: 200px ; background-color:#ADE3E2;">{{user['fname']}} {{user['lname']}}</p>
    <p style=" margin-top:-100px; margin-left:175px; border: 1px solid green; float:left; padding: 3px; padding-left: 30px ; padding-right: 30px ; background-color:#ADE3E2; text-align:center;">Date Created On:  {{datestring}} </p>
<div class="container">
	
  <table style="text-align:left; width: 283px; margin-top:-70px; margin-left:95px; border: 1px solid green; padding-left: 150px ; padding-right: 150px ; background-color:#ADE3E2; ">
    
    <tbody>
    <tr>
        <td>Username: {{user['uname']}}</td>
      </tr>
      <tr>
        <td>ID: {{user['id']}}</td>
      </tr>
    <tr>
        <td>Sex: {{user['sex']}}</td>
      </tr>
    <tr>
        <td>Age: {{user['age']}}</td>
      </tr>
    </tbody>
  </table>
  
  </div>
{% endblock %}
